<html layout:decorate="~{/layouts/main-all}" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <section id="login">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading" th:text="#{login.user}"></h2>
            <h6 th:text="#{login.info}"></h6>
        </div>
        <div class="container">
            <div class="col-md-4 col-sm-6 login">
                <form id="form-login" th:action="@{/login}" method="post">
                    <div class="row">
                        <div th:if="${param.error}" class="alert alert-danger login"
                             th:text="#{login.error}"></div>
                        <div th:if="${param.logout}" class="alert alert-success login"
                             th:text="#{login.disconnect}"></div>
                        <div class="col-lg-12 text-center">
                            <div class="form-group has-feedback">
                                <span class="fa fa-user form-control-feedback"></span>
                                <input id="username" name="username"
                                       class="form-control" th:placeholder="#{login.user}" required="true">
                            </div>
                            <div class="form-group has-feedback">
                                <input type="password" id="password" name="password" class="form-control"
                                       th:placeholder="#{login.password}" required="true">
                                <span class="fa fa-lock form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-primary btn-block btn-flat"
                                    th:text="#{login.enter}"></button>
                        </div>
                        <div class="col-lg-12 text-center">
                            <a href="/user/create" th:text="#{login.new}"></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
</html>
