<html layout:decorate="~{/layouts/main-all}" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <section id="form">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading" th:if="${action == 'view'}" th:text="#{question.view}"></h2>
            <h2 class="section-heading" th:if="${action == 'edit'}" th:text="#{question.edit}"></h2>
            <h2 class="section-heading" th:if="${action == 'new'}" th:text="#{question.new}"></h2>
        </div>
        <div class="container">
            <div class="col-lg-12">
                <form id="question-form" novalidate th:object="${question}"
                      th:action="@{/question/save}" method="post">

                    <input type="hidden" id="id" th:field="*{id}">
                    <div class="form-group">
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <a class="btn button-job button-info" th:text="#{question.list}"
                               th:href="@{/question/list}"></a>
                        </div>
                    </div>
                    <div class="form-group">
                        <strong><label for="category" th:text="#{question.category}"></label></strong>

                        <select th:if="${action == 'edit' || action == 'new'}" class="form-control" id="category"
                                th:field="*{category}">
                            <option value="">--</option>
                            <option th:each="category1 : ${categories}" th:value="${category1.getId()}"
                                    th:text="${category1.getContent()}"
                                    th:selected="${category1} == ${question.category} ? true : false">
                            </option>
                        </select>
                        <input th:if="${action == 'view'}" type="text" readonly class="form-control" id="category-view"
                               th:field="*{category.content}"/>
                    </div>
                    <div class="form-group">
                        <strong><label for="content" th:text="#{question}"></label></strong>
                        <textarea th:if="${action == 'edit' || action == 'new'}" th:field="*{content}"
                                  class="form-control"
                                  id="content"
                                  type="text" th:placeholder="#{question.content}"
                                  data-validation-required-message="Please enter your question."></textarea>

                        <textarea th:if="${action == 'view'}" readonly th:field="*{content}" class="form-control"
                                  id="content-view" type="text"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>

                    <div id="questionsId" th:each="alternative, row : *{alternatives}">
                        <div class="form-group" id="alts">
                            <input type="hidden" id="id-alternative" th:field="*{alternatives[__${row.index}__].id}">
                            <strong><label for="alternative" th:text="#{alternative}"></label></strong>
                            <input th:if="${action == 'edit' || action == 'new'}" class="form-control" id="alternative"
                                   type="text" th:placeholder="#{alternative.content}"
                                   th:field="*{alternatives[__${row.index}__].content}" required=""
                                   data-validation-required-message="Please enter your alternative.">

                            <input type="radio" th:id="correct-[__${row.index}__]" name="correct"
                                   th:if="${action == 'edit' || action == 'new'}"
                                   th:field="*{correct}" th:value="__${row.index}__"/>

                            <input th:if="${action == 'view'}" readonly class="form-control" id="alternative-view"
                                   type="text"
                                   th:placeholder="#{alternative.content}"
                                   th:field="*{alternatives[__${row.index}__].content}">

                            <input th:if="${action == 'view'}" disabled type="radio"
                                   th:value="*{alternatives[__${row.index}__].correct}" th:name="correct" name="correct"
                                   th:checked="*{alternatives[__${row.index}__].correct}"/>

                            <label th:for="correct-[__${row.index}__]" th:text="#{alternative.correct}"></label>

                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12 text-center">
                        <button th:if="${action != 'view'}" id="submit-question form-login"
                                class="btn button-job button-success" type="submit"
                                th:text="#{question.submit}"></button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

<th:block layout:fragment="css-view">
    <link rel="stylesheet" type="text/css"
          href="/webjars/sweetalert2/7.0.6/dist/sweetalert2.css"/>
</th:block>


<th:block layout:fragment="js-view">
    <script src="/webjars/sweetalert2/7.0.6/dist/sweetalert2.min.js"></script>
    <script>
        function errorAlert() {
            swal({
                title: "Erro!",
                text: "Não foi possível criar a questão. Faltam dados.",
                type: "error",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Ok",
                allowOutsideClick: false
            });
        }

        if ([[${error}]] === true)
            errorAlert();

    </script>
</th:block>

</html>
