<html layout:decorate="~{/layouts/main-all}" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <section id="form">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading" th:text="#{simulated.new}"></h2>
        </div>
        <div class="container text-center">
            <a class="btn button-job btn-sm button-info"
               th:text="#{simulated.list}" th:href="@{/simulated/list}"></a>
            <div class="col-lg-12">
                <form id="simulated" novalidate th:object="${simulated}" class="col-lg-12 text-center"
                      th:action="@{/simulated/generate}" method="post">

                    <p th:text="#{simulated.new.questions}"></p>
                    <input type="hidden" id="id" th:field="*{simulated.id}">
                    <div class="row">
                        <div class="col">
                            <label for="amountSpecifics" th:text="#{simulated.especificos}"></label>
                        </div>
                        <div class="col">
                            <input id="amountSpecifics" type="number" min="0" max="100" th:field="*{amountSpecifics}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="amountGeneral" th:text="#{simulated.geral}"></label>
                        </div>
                        <div class="col">
                            <input id="amountGeneral" type="number" min="0" max="100" th:field="*{amountGeneral}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="amountPortuguese" th:text="#{simulated.portugues}"></label>
                        </div>
                        <div class="col">
                            <input id="amountPortuguese" type="number" min="0" max="100"
                                   th:field="*{amountPortuguese}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="amountMathematics" th:text="#{simulated.matematica}"></label>
                        </div>
                        <div class="col">
                            <input id="amountMathematics" type="number" min="0" max="100"
                                   th:field="*{amountMathematics}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="amountLegislation" th:text="#{simulated.legislacao}"></label>
                        </div>
                        <div class="col">
                            <input id="amountLegislation" type="number" min="0" max="100"
                                   th:field="*{amountLegislation}"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="amountComputing" th:text="#{simulated.informatica}"></label>
                        </div>
                        <div class="col">
                            <input id="amountComputing" type="number" min="0" max="100" th:field="*{amountComputing}"/>
                        </div>
                    </div>
                    <div>
                        <input id="now" type="hidden" th:field="*{now}"/>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <br>
                            <button id="submit-question form-login" class="btn button-job button-success" type="button"
                                    th:text="#{simulated.submit}" name="btn-submit" onclick="verifySubmit();">
                            </button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </section>
</div>


<th:block layout:fragment="css-view">
    <link rel="stylesheet" type="text/css"
          href="/webjars/datatables/1.10.13/media/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="/webjars/sweetalert2/7.0.6/dist/sweetalert2.css"/>
</th:block>


<th:block layout:fragment="js-view">
    <script
            src="/webjars/datatables/1.10.13/media/js/jquery.dataTables.min.js"></script>
    <script src="/webjars/sweetalert2/7.0.6/dist/sweetalert2.min.js"></script>
    <script>
        function errorAlert() {
            swal({
                title: "Erro!",
                text: "Não foi possível gerar um simulado. Solicite um número maior que zero para alguma categoria de questões.",
                type: "error",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Ok",
                allowOutsideClick: false
            });
        }
        function confirm() {
            swal({
                title: "Atenção!",
                text: "Você deseja realizar o simulado agora ou arquivá-lo?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#00abdd",
                confirmButtonText: "Agora",
                cancelButtonText: "Arquivar",
                allowOutsideClick: false
            }).then(result => {
                if (result.value) {
                    swal({
                        title: "Confirme para iniciar o simulado.",
                        type: "success",
                        confirmButtonColor: "#00acd6",
                        confirmButtonText: "Confirmar",
                        allowOutsideClick: false
                    }).then(result2 => {
                        if (result2.value) {
                            document.getElementById("now").value = true;
                            $('#simulated').submit();
                        }
                    })
                } else {
                    swal({
                        title: "Simulado arquivado!",
                        text: "O simulado foi arquivado para resolução em outro momento.",
                        type: "success",
                        confirmButtonColor: "#00acd6",
                        confirmButtonText: "Confirmar",
                        allowOutsideClick: false
                    }).then(result3 => {
                        if (result3.value) {
                            document.getElementById("now").value = false;
                            $('#simulated').submit();
                        }
                    })
                }})
        };

        function verifySubmit() {
            if (!(parseInt(document.getElementById("amountComputing").value) === 0 && parseInt(document.getElementById("amountGeneral").value) === 0 &&
                parseInt(document.getElementById("amountLegislation").value) === 0 && parseInt(document.getElementById("amountMathematics").value) === 0
                && parseInt(document.getElementById("amountPortuguese").value) === 0 && parseInt(document.getElementById("amountSpecifics").value) === 0)) {
                confirm();
            } else {
                errorAlert();
            }
        };
    </script>
</th:block>


</html>