<html layout:decorate="~{/layouts/main-all}" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <section id="form">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading" th:text="#{simulated.list}"></h2>
        </div>
        <div class="container text-center">
            <a class="btn button-job btn-sm button-success"
               th:text="#{simulated.new}" th:href="@{/simulated/form}"></a>
            <div>
				<span th:if="${#lists.isEmpty(simulateds)}"
                      th:text="#{simulated.listEmpty}" class="badge"> </span>
            </div>
            <div class="col-lg-12 box-body table-responsive no-padding" th:if="!${#lists.isEmpty(simulateds)}">
                <table class="table table-hover cell-border" id="datatable">
                    <thead>
                    <tr>
                        <th th:text="#{simulated.id}">Id</th>
                        <th th:text="#{simulated.date}">Date</th>
                        <th th:text="#{simulated.done}">Done</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="simulated: ${simulateds}">
                        <td th:text="${simulated.id}"></td>
                        <td th:text="${#dates.format(simulated.date, 'dd-MM-yyyy HH:mm')}"></td>
                        <td>
                            <span th:if="${simulated.done}" class="badge badge-error"
                                  th:text="#{simulated.isdone}"></span>
                            <span th:if="${!simulated.done}" class="badge badge-success"
                                  th:text="#{simulated.isnotdone}"></span>
                        </td>
                        <td>
                            <a th:if="${simulated.done}" href="#" class="btn button-job btn-sm button-info"
                               th:text="#{simulated.review}"
                               th:href="@{|review/${simulated.id}|}"></a>

                            <a th:if="${!simulated.done}" href="#" class="btn button-job btn-sm button-success"
                               th:text="#{simulated.current}"
                               th:href="@{|current/${simulated.id}|}"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
<th:block layout:fragment="css-view">
    <link rel="stylesheet" type="text/css"
          href="/webjars/datatables/1.10.13/media/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="/webjars/sweetalert2/7.0.6/dist/sweetalert2.css"/>
</th:block>


<th:block layout:fragment="js-view">
    <script
            src="/webjars/datatables/1.10.13/media/js/jquery.dataTables.min.js"></script>
    <script src="/webjars/sweetalert2/7.0.6/dist/sweetalert2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable({
                "oLanguage": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                },
                responsive: true
            });
        });

        function errorAlert() {
            swal({
                title: "Erro!",
                text: "Não foi possível gerar o simulado. Não existem questões ativas desta(s) categoria(s).",
                type: "error",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Ok",
                allowOutsideClick: false
            });
        }

        if ([[${error}]] === true)
            errorAlert();
    </script>
</th:block>


</html>
