<html layout:decorate="~{/layouts/main-all}" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <section id="form">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading" th:text="#{simulated.review}"></h2>
        </div>
        <div class="container">
            <div class="text-center">
                <a class="btn button-job btn-sm button-info"
                   th:text="#{simulated.list}" th:href="@{/simulated/list}"></a>
                <br>
            </div>
            <div class="col-lg-12 text-question question" th:each="question, row : ${simulated.questions}">

                <h6 th:text="${#messages.msg('question.category') + ': ' + simulated.questions[__${row.index}__].category.content}"></h6>
                <label th:text="${__row.index__ + 1 + '. ' + simulated.questions[__${row.index}__].content}"></label>
                <div class="form-group">
                    <div class="col-lg-12 text-question alternative"
                         th:each="alternative, line: ${simulated.questions[__${row.index}__].alternatives}">
                        <label class="control-label" th:utext="${letters[__${line.index}__] + ' ' + simulated.questions[__${row.index}__].alternatives[__${line.index}__].content}"></label>
                        <span th:if="${simulated.questions[__${row.index}__].alternatives[__${line.index}__].correct}"
                              class="badge badge-success"><i class="fa fa-check"></i></span>
                        <span th:if="${!#lists.isEmpty(chooseds)}">
                            <span th:if="${simulated.questions[__${row.index}__].alternatives[__${line.index}__].id != corrects[__${row.index}__].id
                            && simulated.questions[__${row.index}__].alternatives[__${line.index}__].id == chooseds[__${row.index}__].id}"
                                  class="badge badge-error"><i class="fa fa-times"></i></span>
                                </span>
                    </div>
                </div>
                <h6 th:text="#{simulated.correctAnswer}"></h6>
                <p th:text="${corrects[__${row.index}__].content}"></p>
                <h6 th:text="#{simulated.choosedAnswer}"></h6>
                <p th:text="${chooseds[__${row.index}__].content}" th:if="${!#lists.isEmpty(chooseds)}"></p>
                <p th:text="#{simulated.none}" th:if="${#lists.isEmpty(chooseds)}"></p>
            </div>
            <h6 th:text="#{simulated.hits}"></h6>
            <p th:text="${hits + ' acerto(s) de ' + #lists.size(simulated.questions) + ' questão(ões).'}"></p>
        </div>
        <!--<div class="text-center">
            <a class="btn button-job btn-sm button-success" href="https://goo.gl/forms/mL8pWYAKdYrRKL6Z2">Responder pesquisa de satisfação</a>
        </div>-->
    </section>
</div>
</html>