<html layout:decorate="~{/layouts/main-all}" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <section id="form">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading" th:text="#{simulated.current}"></h2>
        </div>
        <div class="container">
            <div class="text-center">
                <a class="btn button-job btn-sm button-info"
                   th:text="#{simulated.list}" th:href="@{/simulated/list}"></a>
            </div>
            <form id="simulated" novalidate th:object="${historic}" class="col-lg-12 text-center"
                  th:action="@{/simulated/answer}" method="post">
                <input type="hidden" th:field="${simulated.id}"/>

                <div class="col-lg-12 text-question question" th:each="question, row : ${simulated.questions}">
                    <h6 th:text="${#messages.msg('question.category') + ': ' + simulated.questions[__${row.index}__].category.content}"></h6>
                    <input type="hidden" th:field="${simulated.questions[__${row.index}__].id}"/>
                    <input type="hidden" th:field="${simulated.questions[__${row.index}__].content}"/>
                    <label th:text="${__row.index__ + 1 + '. ' + simulated.questions[__${row.index}__].content}"
                           name="content"></label>

                    <div class="form-group">
                        <div class="col-lg-12 text-question alternative"
                             th:each="alternative, line: ${simulated.questions[__${row.index}__].alternatives}">
                            <input name="option" type="radio" th:id="choosed-[__${row.index}__]-[__${line.index}__]"
                                   th:field="${simulated.questions[__${row.index}__].choosed}"
                                   th:value="${simulated.questions[__${row.index}__].alternatives[__${line.index}__].id}"/>
                            <label class="control-label" th:for="choosed-[__${row.index}__]-[__${line.index}__]"
                                   th:utext="${letters[__${line.index}__] + ' ' + simulated.questions[__${row.index}__].alternatives[__${line.index}__].content}"></label>
                            <input type="hidden"
                                   th:field="${simulated.questions[__${row.index}__].alternatives[__${line.index}__].id}"/>
                            <input type="hidden"
                                   th:field="${simulated.questions[__${row.index}__].alternatives[__${line.index}__].content}"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12 text-center">
                        <button id="submit-question" class="btn button-job button-success" type="button"
                                th:text="#{simulated.answer}"
                                th:onclick="'javascript:confirmAlert(\''+ #{simulated.msg} +'\');'"></button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>

<th:block layout:fragment="css-view">
    <link rel="stylesheet" type="text/css"
          href="/webjars/datatables/1.10.13/media/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="/webjars/sweetalert2/7.0.6/dist/sweetalert2.css"/>
</th:block>


<th:block layout:fragment="js-view">
    <script src="/webjars/datatables/1.10.13/media/js/jquery.dataTables.min.js"></script>
    <script src="/webjars/sweetalert2/7.0.6/dist/sweetalert2.min.js"></script>

    <script th:inline="javascript">
        if ([[${error}]] === true)
            errorAlert();
        if ([[${done}]] === true)
            doneAlert();

        function errorAlert() {
            swal({
                title: "Erro!",
                text: "Não foi possível submeter o simulado. Faltam respostas.",
                type: "error",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Ok"
            });
        }

        function confirmAlert() {
            swal({
                title:"Atenção!",
                text: "Você tem certeza que deseja submeter agora?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Sim",
                cancelButtonText: "Não",
                allowOutsideClick: false
            }).then(result =>  {
                if (result.value) {
                    swal({
                        title: "O simulado será submetido. Verificando respostas...",
                        type: "success",
                        confirmButtonColor: "#00acd6",
                        closeOnConfirm: false,
                        allowOutsideClick: false
                    }).then(result2 =>  {
                        if (result2.value) {
                            $('#simulated').submit();
                        }
                    });
                }
            })
        };

        function doneAlert() {
            swal({
                title: "Erro!",
                text: "Não é possível realizar o simulado. O mesmo já foi finalizado.",
                type: "error",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Ok",
                allowOutsideClick: false
            }).then(result =>  {
                if (result.value) {
                    window.location.href = "/simulated/list";
                }
            })
        }
    </script>
</th:block>

</html>