<div th:fragment="main">
	<!-- Footer -->
	<footer class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright Job&copy; SimuladOn-line 2017-2018</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://github.com/andressajob/simuladonline">
                  <i class="fa fa-github"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://pt-br.facebook.com/andressamariana.krautler">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://br.linkedin.com/in/andressa-mariana-job-krautler-0b6022b3">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
	</footer>
	<!-- End of Footer -->
</div>
