<!-- Header -->
<header class="masthead background" th:fragment="content-header">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Bem-vindo ao SimuladOn-line!</div>
        </div>
    </div>
</header>