
<head th:fragment="head">

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>SimuladOn-line - Andressa Job</title>

	<!-- Bootstrap core CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>

	<!-- Custom fonts for this template -->
	<link href="/fonts/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'/>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'/>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<!-- Custom styles for this template -->
	<link href="/css/agency.min.css" rel="stylesheet"/>
	<link href="/css/styles.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/select/1.2.5/css/select.dataTables.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/webjars/datatables/1.10.13/media/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="/webjars/sweetalert2/7.0.6/dist/sweetalert2.css"/>
    <th:block layout:fragment="css-view"/>
</head>
<div th:fragment="javascripts">
    <script src="/webjars/sweetalert2/7.0.6/dist/sweetalert2.min.js"></script>
	<script src="/js/easytimer.js"></script>
	<!--&lt;!&ndash; jQuery 2.2.3 &ndash;&gt;
	<script src="/webjars/jquery/2.2.3/jquery.min.js"></script>
	&lt;!&ndash; Bootstrap 3.3.6 &ndash;&gt;
	<script src="/webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js"></script>
	&lt;!&ndash; SlimScroll &ndash;&gt;
	<script src="/webjars/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script>
	&lt;!&ndash; FastClick &ndash;&gt;
	<script src="/webjars/fastclick/1.0.6/fastclick.js"></script>-->
    <!-- Bootstrap core JavaScript -->
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="/js/jquery-easing/jquery.easing.min.js"></script>
    <!-- Contact form JavaScript -->
    <script src="/js/jqBootstrapValidation.js"></script>
    <script src="/js/scripts.js"></script>
    <!-- Custom scripts for this template -->
    <script src="/js/agency.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.2.5/js/dataTables.select.min.js"></script>
	<!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->
	<script src="https://unpkg.com/promise-polyfill"></script>
    <th:block layout:fragment="js-view"/>
</div>