<div th:fragment="items" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">SimuladOn-line</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger"
                                            href="/simulated/list" th:text="#{simulated.list}">Simulados</a></li>
                    <li sec:authorize="hasRole('ROLE_TEACHER') || hasRole('ROLE_ADMIN')" class="nav-item"><a class="nav-link js-scroll-trigger"
                                            href="/question/list" th:text="#{question.list}">Questões</a></li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item"><a class="nav-link js-scroll-trigger"
                                            href="/user/list" th:text="#{user.list}">Usuários</a></li>
                    <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link js-scroll-trigger"
                                            href="/user/profile" th:text="#{graphics}"></a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a href="#" th:href="@{/logout}" th:text="#{login.logout}" class="nav-link js-scroll-trigger"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>