<html layout:decorate="~{/layouts/main-all}" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <section id="form">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading" th:if="${action == 'view'}" th:text="#{user.view}"></h2>
            <h2 class="section-heading" th:if="${action == 'edit'}" th:text="#{user.edit}"></h2>
            <h2 class="section-heading" th:if="${action == 'new'}" th:text="#{user.new}"></h2>
        </div>
        <div class="container">
            <div class="col-lg-12">
                <form id="question-form" novalidate th:object="${user}"
                      th:action="@{/user/save}" method="post">

                    <input type="hidden" id="id" th:field="*{id}">
                    <div class="form-group">
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn button-job button-info" th:text="#{user.list}"
                               th:href="@{/user/list}"></a>
                        </div>
                    </div>
                    <div class="form-group">
                        <strong><label for="name" th:text="#{user.name}"></label></strong>
                        <input th:if="${action == 'edit' || action == 'new'}" th:field="*{name}" class="form-control"
                               id="name" type="text" required=""
                               data-validation-required-message="Please enter your name."/>
                        <input th:if="${action == 'view'}" th:field="*{name}" class="form-control" id="name-view"
                               type="text" readonly/>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group">
                        <strong><label for="username" th:text="#{user.username}"></label></strong>
                        <input th:if="${action == 'edit' || action == 'new'}" th:field="*{username}"
                               class="form-control"
                               id="username" type="text" required=""
                               data-validation-required-message="Please enter your login."/>
                        <input th:if="${action == 'view'}" th:field="*{name}" class="form-control" id="username-view"
                               type="text" readonly/>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group" th:if="${action != 'view'}">
                        <strong><label for="password" th:text="#{user.password}"></label></strong>
                        <input th:field="*{password}" class="form-control" id="password" type="password" required=""
                               data-validation-required-message="Please enter your password."/>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group">
                        <strong><label for="email" th:text="#{user.email}"></label></strong>
                        <input th:if="${action == 'edit' || action == 'new'}" th:field="*{email}" class="form-control"
                               id="email" type="email" required=""
                               data-validation-required-message="Please enter your e-mail."/>
                        <input th:if="${action == 'view'}" th:field="*{email}" class="form-control" id="email-view"
                               type="text" readonly/>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div sec:authorize="hasRole('ROLE_ADMIN')" class="form-group">
                        <strong><label for="role" th:text="#{user.role}"></label></strong>
                        <select th:if="${action == 'edit' || action == 'new'}" class="form-control" id="role"
                                th:field="*{roles}">
                            <option th:each="role : ${roles}" th:value="${role.getId()}"
                                    th:text="${role.getRole()}"
                                    th:selected="${role} == ${user.roles} ? true : false">
                            </option>
                        </select>
                        <ul th:if="${action == 'view'}">
                            <li th:each="role: ${user.roles}" th:text="${role.role}"></li>
                        </ul>
                    </div>
                    <p class="help-block text-danger"></p>
                    <div class="col-lg-12 text-center">
                    <button th:if="${action != 'view'}" id="submit-question form-login"
                            class="btn button-job button-success" type="submit"
                            th:text="#{question.submit}"></button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

<th:block layout:fragment="css-view">
    <link rel="stylesheet" type="text/css"
          href="/webjars/sweetalert2/7.0.6/dist/sweetalert2.css"/>
</th:block>


<th:block layout:fragment="js-view">
    <script src="/webjars/sweetalert2/7.0.6/dist/sweetalert2.min.js"></script>
    <script>
        function errorAlert() {
            swal({
                title: "Erro!",
                text: "Não foi possível salvar informações de usuário. Faltam dados.",
                type: "error",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Ok",
                allowOutsideClick: false
            });
        }

        function invalidAlert() {
            swal({
                title: "Erro!",
                text: "Não foi possível salvar informações de usuário. O nome de usuário já existe.",
                type: "error",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Ok",
                allowOutsideClick: false
            });
        }

        function permissionAlert() {
            swal({
                title: "Erro!",
                text: "Você não tem permissão de ajustar os dados deste usuário!",
                type: "error",
                showCancelButton: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Ok",
                allowOutsideClick: false
            }).then(result => {
            if (result.value) {
                window.location.href = "/user/profile";
            }
            })
        }

        if ([[${error}]] === true)
            errorAlert();
        if ([[${invalid}]] === true)
            invalidAlert();
        if ([[${permission}]] === true)
            permissionAlert();
    </script>
</th:block>

</html>
