<html layout:decorate="~{/layouts/main-all}" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <section id="form">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading" th:text="#{user.list}"></h2>
        </div>
        <div class="container text-center">
            <a class="btn button-job btn-sm button-success"
               th:text="#{user.new}" th:href="@{/user/form}"></a>
            <div>
				<span th:if="${#lists.isEmpty(users)}"
                      th:text="#{user.listEmpty}" class="badge"> </span>
            </div>
            <div class="col-lg-12 box-body table-responsive no-padding" th:if="!${#lists.isEmpty(users)}">
                <table class="table table-hover cell-border" id="datatable">
                    <thead>
                    <tr>
                        <th th:text="#{user.name}">Name</th>
                        <th th:text="#{user.username}">Login</th>
                        <th th:text="#{user.email}">Email</th>
                        <th th:text="#{user.role}">Role</th>
                        <th th:text="#{user.status}">Status</th>
                        <th th:text="#{user.options}">Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user: ${users}">
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.email}"></td>
                        <td>
                            <span th:each="role: ${user.roles}" th:text="${role.role}"></span>
                        </td>
                        <td>
                            <span th:if="${user.active}" class="badge badge-success" th:text="#{user.active}"></span>
                            <span th:if="${!user.active}" class="badge badge-error" th:text="#{user.disabled}"></span>
                        </td>
                        <td><a class="btn button-job btn-sm button-info" th:text="#{edit}"
                               th:href="@{|edit/${user.id}|}"></a>

                            <button th:if="${user.active}" class="btn button-job btn-sm button-danger"
                                    th:text="#{user.desative}"
                                    th:onclick="'javascript:confirmAlert(\''+ #{confirm.msg} +'\', \'/user/disable/'+ ${user.id} +'\');'"></button>

                            <button th:if="${!user.active}" class="btn button-job btn-sm button-danger"
                                    th:text="#{user.activate}"
                                    th:onclick="'javascript:confirmAlert(\''+ #{confirm.msg} +'\', \'/user/enable/'+ ${user.id} +'\');'"></button>


                            <a class="btn button-job btn-sm button-default" th:text="#{view}"
                               th:href="@{|view/${user.id}|}"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
<th:block layout:fragment="css-view">
    <link rel="stylesheet" type="text/css"
          href="/webjars/datatables/1.10.13/media/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="/webjars/sweetalert2/7.0.6/dist/sweetalert2.css"/>
</th:block>


<th:block layout:fragment="js-view">
    <script
            src="/webjars/datatables/1.10.13/media/js/jquery.dataTables.min.js"></script>
    <script src="/webjars/sweetalert2/7.0.6/dist/sweetalert2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable({
                "oLanguage": {
                    "sEmptyTable": "Nenhum registro encontrado",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ".",
                    "sLengthMenu": "_MENU_ resultados por página",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sZeroRecords": "Nenhum registro encontrado",
                    "sSearch": "Pesquisar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                },
                responsive: true
            });
        });

        function confirmAlert(msg, redirectPage) {
            swal({
                title: "Atenção!",
                text: msg,
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Sim",
                cancelButtonText: "Não",
                allowOutsideClick: false
            }).then(result => {
                if (result.value) {
                swal({
                    title: "Dados atualizados!",
                    type: "success",
                    confirmButtonColor: "#00acd6",
                    confirmButtonText: "Ok!",
                    allowOutsideClick: false
                }).then(result2 => {
                    if (result2.value) {
                    window.location.href = redirectPage;
                }});}})
        };
    </script>
</th:block>


</html>
