<html layout:decorate="~{/layouts/main-all}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <section id="profile">
        <div class="container text-center">
            <a class="btn button-job btn-sm button-success login"
               th:text="#{user.adjust}" th:href="@{|edit/${#authentication.principal.user.id}|}"></a>
            <br><br>
            <button class="btn button-job button-info" th:text="#{btn.perfomance}" id="btn-desempenho"
                    onclick="document.getElementById('chart-desempenho').scrollIntoView();"></button>
            <button class="btn button-job button-info" th:text="#{btn.simulateds}" id="btn-simulados"
                    onclick="document.getElementById('chart-simulados').scrollIntoView();"></button>
        </div>
        <div class="chart text-center">
            <span id="data"></span>
            <div id="chart-desempenho" style="height: 500px; width: 100%; margin-left: 5px;">
            </div>
            <br>
            <div id="chart-simulados" style="height: 500px; width: 100%;  margin-left: 5px;">
            </div>
        </div>
        <input type="hidden" id="portugues" th:value="${portugues}"/>
        <input type="hidden" id="portugues-acertos" th:value="${portuguesAcertos}"/>
        <input type="hidden" id="matematica" th:value="${matematica}"/>
        <input type="hidden" id="matematica-acertos" th:value="${matematicaAcertos}"/>
        <input type="hidden" id="legislacao" th:value="${legislacao}"/>
        <input type="hidden" id="legislacao-acertos" th:value="${legislacaoAcertos}"/>
        <input type="hidden" id="informatica" th:value="${informatica}"/>
        <input type="hidden" id="informatica-acertos" th:value="${informaticaAcertos}"/>
        <input type="hidden" id="especificos" th:value="${especificos}"/>
        <input type="hidden" id="especificos-acertos" th:value="${especificosAcertos}"/>
        <input type="hidden" id="gerais" th:value="${gerais}"/>
        <input type="hidden" id="gerais-acertos" th:value="${geraisAcertos}"/>

        <input type="hidden" id="simulateds" th:value="${simulateds}"/>
        <input type="hidden" id="hits" th:value="${hits}"/>


    </section>
</div>
<th:block layout:fragment="js-view">
    <script th:inline="javascript">

        if (!([[${portugues}]] === 0 && [[${gerais}]] === 0 &&
                [[${legislacao}]] === 0 && [[${matematica}]] === 0
                && [[${informatica}]] === 0 && [[${especificos}]] === 0)) {
            document.getElementById("data").innerHTML = "";
            var btnSimulados = document.getElementById("btn-simulados");
            btnSimulados.addEventListener("click", makeChartSimulados);
            var btnDesempenho = document.getElementById("btn-desempenho");
            btnDesempenho.addEventListener("click", makeChartDesempenho);

        } else {
            document.getElementById("data").innerHTML = "Não há dados de desempenho para exibir.";
            document.getElementById("btn-simulados").hidden = true;
            document.getElementById("btn-desempenho").hidden = true;
        }


        function makeChartDesempenho() {

            var chart = new CanvasJS.Chart("chart-desempenho", {
                animationEnabled: true,
                title: {
                    text: "Questões realizadas e acertos"
                },
                axisY: {
                    interval: 1
                },
                data: [{
                    type: "bar",
                    showInLegend: true,
                    name: "Questões realizadas",
                    color: "darkblue",
                    dataPoints: [
                        {label: "Português", y: [[${portugues}]]},
                        {label: "Matemática", y: [[${matematica}]]},
                        {label: "Informática", y: [[${informatica}]]},
                        {label: "Legislação", y: [[${legislacao}]]},
                        {label: "Conhecimentos Específicos", y: [[${especificos}]]},
                        {label: "Conhecimentos Gerais", y: [[${gerais}]]}
                    ]
                },
                    {
                        type: "bar",
                        showInLegend: true,
                        name: "Acertos",
                        color: "green",
                        dataPoints: [
                            {label: "Português", y: [[${portuguesAcertos}]]},
                            {label: "Matemática", y: [[${matematicaAcertos}]]},
                            {label: "Informática", y: [[${informaticaAcertos}]]},
                            {label: "Legislação", y: [[${legislacaoAcertos}]]},
                            {label: "Conhecimentos Específicos", y: [[${especificosAcertos}]]},
                            {label: "Conhecimentos Gerais", y: [[${geraisAcertos}]]}
                        ]
                    }
                ]
            });
            chart.render();
        }

        function makeChartSimulados() {

            var chart2 = new CanvasJS.Chart("chart-simulados", {
                animationEnabled: true,
                title: {
                    text: "Acertos por simulado"
                },
                axisY: {
                    interval: 1
                },
                data: [{
                    color: "#4f81bc",
                    type: "bar", //change type to bar, line, area, pie, etc
                    /*<![CDATA[*/
                    dataPoints: [
                        /*[# th:each="simulated, row : ${simulateds}"]*/
                        {
                            label: /*[[${#dates.format(simulated.date, 'dd/MM/yyyy HH:mm')}]]*/,
                            y: /*[[${hits[__row.index__]}]]*/
                        },
                        /*[/]*/
                        /*]]>*/
                    ]
                }]
            });
            chart2.render();
        }
    </script>
</th:block>
</html>

