input[type="radio"] {
    vertical-align: baseline;
}

.control-label {
    display: inline;

}

.alternative {
    margin: 0px 0px 10px 0px;
}

.question {
    margin: 0px 0px 40px 0px;
}

.login {
    margin: auto;
}

.badge {
    padding: 5px 15px 5px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #999999;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.badge:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.badge-error {
    background-color: #b94a48;
}

.badge-error:hover {
    background-color: #953b39;
}

.badge-warning {
    background-color: #f89406;
}

.badge-warning:hover {
    background-color: #c67605;
}

.badge-success {
    background-color: #468847;
}

.badge-success:hover {
    background-color: #356635;
}

.badge-info {
    background-color: #3a87ad;
}

.badge-info:hover {
    background-color: #2d6987;
}

.badge-inverse {
    background-color: #333333;
}

.badge-inverse:hover {
    background-color: #1a1a1a;
}

.button-job {
    font-weight: 700;
    color: white;
    border-color: #868e96;
    background-color: #fed136;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.button-default {
    background-color: dimgray;
}

.button-info {
    background-color: #426c9e;
}

.button-success {
    background-color: #1e7e34;
}

.button-danger {
    background-color: red;
}

.text-question {
    text-align: left;
}

div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 320px;
    border: 3px solid #ffc107;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 999;
}

.has-feedback {
    position: relative;
}

.has-feedback .form-control {
    padding-right: 40px;
}

.form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    pointer-events: none;
}

.input-lg + .form-control-feedback,
.input-group-lg + .form-control-feedback,
.form-group-lg .form-control + .form-control-feedback {
    width: 45px;
    height: 45px;
    line-height: 45px;
}

.input-sm + .form-control-feedback,
.input-group-sm + .form-control-feedback,
.form-group-sm .form-control + .form-control-feedback {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

@media (max-width: 320px) {
    #amountSpecifics, #amountGeneral {
        margin-left: -18px;
    }

}